

body {
    background-color: #D4AC0D;
}
#content {
    max-width: 1600px;
    margin: 0 auto;;
}
header {
    background-color: var(--primary-color);
}

nav a:hover {
    background-color: white;
    color: #396E94;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.book,
.join {
    background-color: #999;
    color: #999;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.card-img {
    border: 10px solid #999;
}

main section img {
    box-sizing: border-box;
}