@import url('https://fonts.googleapis.com/css2?family=Roboto&family=RocknRoll+One&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94   ;
  --secondary-color: #E7C24F ;
  --accent1-color: #A42212;
  --accent2-color: #381d2a;
}

body {
    background-color: #D4AC0D;
}
#content {
    max-width: 1600px;
    margin: 0 auto;;
}
header {
    background-color: var(--primary-color);
}

nav a:hover {
    background-color: white;
    color: #396E94;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.book,
.join {
    background-color: #999;
    color: #999;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.card-img {
    border: 10px solid #999;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: #D4AC0D;
}

header {
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover {
    background-color: black;
}

.book,
.join {
    background-color: #999;
    color: #999;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

nav a:hover {
    background-color: black;
    color:            #d9c2a3;
}

nav a {text-align: center;
    color: #fcfbfb;
    text-decoration: none;}



