.p1 {
    font-family: "Times New Roman", Times, serif;
  }
  div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  
footer {
    background-color: gray;
    color: rgba(255, 255, 255, 0.568);
}
footer p {
    padding: 25px;
}
h1 {
    margin: 50px 0;
}
nav {
    background-color: gray;
}
a {
    color: white;
}
nav {
    padding: 25px;
}
a {
    padding: 25px;
